dockerfile:
  good:
    - |-
      FROM baseImage:1.1
      RUN test

      FROM debian:jesse2 as build2
      USER mike
      RUN stuff

      FROM debian:jesse1 as build1
      USER mike
      RUN more_stuff
  bad:
    - |-
      FROM baseImage:1.1
      RUN test

      FROM debian:jesse2 as build
      USER mike
      RUN stuff

      FROM debian:jesse1 as build
      USER mike
      RUN more_stuff
