dockerfile:
  good:
    - |-
      FROM alpine:3.5
      RUN yum install && yum clean all
      RUN pip install --no-cache-dir -r /usr/src/app/requirements.txt
      USER mike
      CMD python /usr/src/app/app.py
  bad:
    - |-
      FROM alpine:3.5
      RUN yum install vim
      RUN pip install --no-cache-dir -r /usr/src/app/requirements.txt
      USER mike
      CMD python /usr/src/app/app.py
