name: Update outdated API data
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0" # Sunday midnight

env:
  GO_VERSION: "1.24"

jobs:
  update-outdated-api:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.AUTO_COMMIT_TOKEN }}

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Update Outdated API Data
        run: make update-outdated-api

      - name: Format Rego Files
        run: make fmt-rego

      - name: Push Changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "Update outdated API data"
          push_options: --force
