name: test rego
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
  merge_group:
  workflow_dispatch:

env:
  GO_VERSION: "1.24"

jobs:
  opa-tests:
    name: OPA tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Rego Check
        run: go run ./cmd/opa check lib checks --strict --v0-v1

      - name: Setup Regal
        uses: StyraInc/setup-regal@33a142b1189004e0f14bf42b15972c67eecce776 # v1
        with:
          version: 0.34.1

      - name: Lint Rego
        run: make lint-rego

      - name: OPA Format
        run: |
          make fmt-rego
          if [ -n "$(git status --porcelain)" ]; then
            echo "Run 'make fmt-rego' and push it"
            exit 1
          fi

      - name: Test Rego checks
        run: make test-rego

      - name: Run OPA Check
        run: make check-rego-matrix
        shell: bash
