name: Test Go
on:
  pull_request:
  merge_group:

env:
  GO_VERSION: "1.24"

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run tests
        run: make test
        shell: bash

  integration-tests:
    uses: ./.github/workflows/integration-tests.yaml
