name: Verify Docs
on:
  pull_request:
  merge_group:

env:
  GO_VERSION: "1.24"

jobs:
  build:
    name: Verify Docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - run: |
          make docs
          if [ -n "$(git status --porcelain)" ]; then
            echo "Run 'make docs' and push it"
            exit 1
          fi
